.container {
  margin: 10px;
  background-color: lightgray;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-column {
  width: 50%;
  background-color: #0077b6;
}

.right-column {
  width: 50%;
  background-color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
h1,
h2 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  flex-basis: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"] {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-color: #ccc;
  transition: border-color 0.3s ease;
  border-radius: 0px;
  font-size: 16px;
  box-sizing: border-box;
  width: calc(50% - 10px);
}
input[type="file"] {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  box-sizing: border-box;
  width: calc(50% - 10px);
}
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: none;
  border-color: #007bff;
  transition: border-color 0.3s ease;
}

input[type="text"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #999;
  font-size: 16px;
  transition: all 0.3s ease;
}

input[type="text"]:focus::-webkit-input-placeholder,
input[type="url"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder {
  font-size: 12px;
  transform: translate3d(0, -100%, 0);
}

/* SIGNATURE OUTPUT */

#signature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 50%;
  /* border: 1px solid #ccc; */
  padding: 20px;
  text-align: center;
}
#signature img {
  margin-right: 20px;
  height: 100px;
  border-radius: 50%;
}
#signature p {
  margin: 0;
}

#output-socialmedia img {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
#signature-container {
  justify-content: center;
}
#output-socialmedia {
  display: flex;
  justify-content: center;
}
